<md-dialog class="about-dialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h4>耐心读完的都是好人</h4>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="close()">
        <i class="material-icons color-white">close</i>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab ng-repeat="tab in tabs" label="{{tab.label}}">
        <md-content layout-padding>
          <div ng-repeat="note in tab.notes">
            <h3>{{note.title}}</h3>
            <p ng-repeat="content in note.content">{{content}}<br></p>
          </div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-dialog-content>
</md-dialog>