<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <title>*BETA* ECNU SEI Onepiece</title>
  <loader></loader>
</head>
<body ng-app="onepiece" ng-controller="MainController" layout="row" layout-align="center">
<onepiece-cover class="fill-height" flex ng-if="indexLoader.status !== 'SUCCESS'"></onepiece-cover>
<md-content ng-cloak ng-if="indexLoader.status === 'SUCCESS'" class="fill-height md-whiteframe-4dp" layout="column" flex>
  <onepiece-panel class="fill-height" flex></onepiece-panel>
</md-content>
</body>
</html>