<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <title>*BETA* ECNU SEI Onepiece</title>
</head>
<body ng-cloak ng-app="onepiece" ng-controller="MainController" layout="row" layout-align="center">
<md-content flex class="fill-height md-whiteframe-4dp" layout="column">
  <onepiece-cover class="fill-height" flex ng-if="indexLoader.status !== 'SUCCESS'"></onepiece-cover>
  <onepiece-panel class="fill-height" flex ng-if="indexLoader.status === 'SUCCESS'"></onepiece-panel>
</md-content>
</body>
<loader></loader>
</html>