[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

._md-track-ticks canvas { display: none; }

md-content {
    /*background-color: #fff;*/
}

md-input-container .md-errors-spacer {
    min-height: 0;
}

body, input, textarea {
    font-family: "黑体";
}

.material-icons {
    vertical-align: middle;
    display: inline-block;
    color: #02a8f3;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.left-offset {
    padding-left: 10px;
}

.no-padding-top {
    padding-top: 0;
}

.no-padding-bottom {
    padding-bottom: 0;
}

.padding-x {
    padding: 5px 15px;
}

.adjust-icon-top-margin-down {
    margin-top: 5px;
}

.adjust-icon-top-margin-up {
    margin-top: -5px;
}
.adjust-icon-top-margin-up-3 {
    margin-top: -3px;
}

.pull-right {
    float: right;
}

.no-margin {
    margin: 0;
}

.color-white {
    color: white !important;
}

.background-white {
    background-color: white !important;
}

.background-blue {
    background-color: #02a8f3 !important;
}

.protect-overflow {
    overflow: auto;
}

.light-background-color {
    background-color: rgba(0,0,0,0.03);
}

.set-height-to-ac {
    height: 40px;
    min-height: 40px;
}

md-dialog {
    min-width: 600px;
}

.top-banner {
    min-height: 60px;
}

md-progress-circular.color-white path {
    stroke: white;
}

.lesson-route {
    padding-left: 5px;
    cursor: pointer;
}
.lesson-route:focus {
    outline: none;
}
.lesson-route:hover {
    color: #5D5D5D;
}

.md-fab {
    min-width: 40px !important;
}

.file-name-in-list {
    line-height: 20px !important;
}