<md-dialog class="about-dialog hide-overflow">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h4 flex>贡献度排行</h4>
      <md-button class="md-icon-button" ng-click="popper.hide()">
        <i class="material-icons color-white">close</i>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <table class="ranking-table" cellspacing="0">
      <thead class="header-row">
        <th>名次</th>
        <th>用户名</th>
        <th>上传</th>
        <th>评价</th>
        <th>总分</th>
      </thead>
      <tbody>
        <tr ng-if="status==='CONNECTING'">
          <td colspan="5">
            <div layout layout-align="center center">
              <md-progress-circular class="spinner-primary" md-mode="indeterminate" md-diameter="20">
              </md-progress-circular>
            </div>
          </td>
        </tr>
        <tr ng-if="status==='FAIL'">
          <td colspan="5">
            获取数据失败
          </td>
        </tr>
        <tr ng-repeat="ranking in ranking">
          <td>{{$index + 1}}</td>
          <td>{{ranking.name}}</td>
          <td>{{ranking.upload}}</td>
          <td>{{ranking.rc}}</td>
          <td>{{ranking.total}}</td>
        </tr>
        <tr class="header-row">
          <td colspan="5">你的数据</td>
        </tr>
        <tr ng-if="status==='CONNECTING'">
          <td colspan="5">
            <div layout layout-align="center center">
              <md-progress-circular class="spinner-primary" md-mode="indeterminate" md-diameter="20">
              </md-progress-circular>
            </div>
          </td>
        </tr>
        <tr ng-if="user.status === 'ONLINE' && status === 'FAIL'">
          <td colspan="5">
            获取数据失败
          </td>
        </tr>
        <tr ng-if="user.status === 'ONLINE' && status === 'SUCCESS'">
          <td>{{userRanking.pos}}</td>
          <td>{{userRanking.name}}</td>
          <td>{{userRanking.upload}}</td>
          <td>{{userRanking.rc}}</td>
          <td>{{userRanking.total}}</td>
        </tr>
        <tr>
          <td colspan="5">
            <need-login></need-login>
          </td>
        </tr>
      </tbody>
    </table>
  </md-dialog-content>
</md-dialog>