<md-dialog class="upload-dialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>上传你的优质资料</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="close()" ng-disabled="uploadManager.uploadingCount > 0">
        <md-icon md-svg-src="md-close" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-content layout-padding>
      <div>
        * 非常感谢你为本站提供资料，请务必仔细阅读并理解文件规则后再上传资料。<br>
        * 每个文件大小限制为200MB。<br>
        * 站点资源有限，请珍惜使用，勿恶意上传。<br>
        * 注：目前不支持Edge浏览器/iOS版Safari浏览器访问时上传文件。<br>
      </div>
      <md-divider></md-divider>
      <div ng-show="user.status === 'ONLINE'">
        <div layout layout-align="space-between center">
          <div layout="column">
            <div>目标上传位置：</div>
            <dummy-explorer></dummy-explorer>
          </div>
          <div>
            <md-button class="md-fab md-primary" id="pickfiles" ng-click="checkPath()">
              <md-icon class="material-icons">add</md-icon>
              <md-tooltip md-direction="bottom">添加文件</md-tooltip>
            </md-button>
          </div>
        </div>
        <div>
          <md-list>
            <md-subheader class="md-no-sticky">
              文件列表
            </md-subheader>
            <md-divider></md-divider>
            <md-list-item ng-show="QUploader.files.length === 0 && uploadManager.doneFiles.length === 0">
              什么都没有
            </md-list-item>
            <md-list-item ng-repeat="file in uploadManager.doneFiles">
              <md-icon class="material-icons adjust-icon-top-margin-up-3"
                       ng-class="file.success?'md-primary':'md-warn'">{{file.success?"check_circle":"error"}}
              </md-icon>
              <div>{{file.name}}</div>
            </md-list-item>
            <md-list-item ng-repeat="file in QUploader.files" layout="column" layout-align="center">
              <div layout>
                <div flex layout="column" layout-align="space-around">
                  <div layout layout-align="start center">
                    <div>{{file.key}}</div>
                  </div>
                  <div layout layout-align="start center">
                    <md-progress-linear flex md-mode="determinate" value="{{file.percent}}"></md-progress-linear>
                    <div class="left-offset-10">{{file.percent}}%</div>
                  </div>
                </div>
                <div layout layout-align="center center">
                  <md-button class="md-fab md-mini no-margin-right background-white"
                             ng-class="uploadingCount>0?'md-warn':''"
                             ng-click="cancel(file)" aria-label="cancel upload">
                    <md-icon class="material-icons color-primary">close</md-icon>
                  </md-button>
                </div>
              </div>
              <md-divider></md-divider>
            </md-list-item>
          </md-list>
        </div>
        <div ng-show="QUploader.files.length>0" class="upload-footer" layout layout-align="space-between center">
          <sign></sign>
          <md-button class="md-raised" ng-class="path.length<3?'':'md-primary'" ng-click="startUpload()" ng-disabled="uploadingCount>0">开始上传
          </md-button>
        </div>
      </div>
      <need-login></need-login>
    </md-content>
  </md-dialog-content>
</md-dialog>