<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h4 flex>文件评价</h4>
      <md-button class="md-icon-button" ng-click="popper.hide()">
        <md-icon class="material-icons color-white ">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-content layout-padding>
      <h4 class="no-margin">{{file.name}}</h4>
      <span class="uploader" ng-bind="'上传用户: ' + (file.uploader || '站长')"></span>
      <div class="no-padding" layout layout-align="start center">
        <rate file="file"></rate>
        <div flex></div>
        <md-button ng-if="previewable(file)" class="md-icon-button file-action-button" ng-click="previewFile(file)" ng-disabled="user.status !== 'ONLINE'" layout layout-align="center center">
          <md-tooltip md-direction="bottom" ng-bind="user.status === 'ONLINE' ? '预览' : '登陆后可预览'"></md-tooltip>
          <div>
            <md-icon ng-show="!file.gettingPreviewLink" class="material-icons ">visibility</md-icon>
          </div>
          <div layout layout-align="center center">
            <md-progress-circular ng-show="file.gettingPreviewLink" class="color-white" md-mode="indeterminate" md-diameter="20"></md-progress-circular>
          </div>
        </md-button>
        <md-button class="md-icon-button file-action-button" ng-click="explorer.copyShareLink()" layout layout-align="center center">
          <md-tooltip md-direction="bottom">分享链接</md-tooltip>
          <div>
            <md-icon class="material-icons">share</md-icon>
          </div>
        </md-button>
        <md-button class="md-icon-button file-action-button" ng-click="downloadFile(file)" ng-if="explorer.path.length > 1" layout layout-align="center center">
          <md-tooltip md-direction="bottom">{{file.gettingDownloadLink?"正在获取下载链接":formatFileSize(file)}}</md-tooltip>
          <div>
            <md-icon ng-show="!file.gettingDownloadLink" class="material-icons ">cloud_download</md-icon>
          </div>
          <div layout layout-align="center center">
            <md-progress-circular ng-show="file.gettingDownloadLink" class="color-white" md-mode="indeterminate" md-diameter="20"></md-progress-circular>
          </div>
        </md-button>
      </div>
      <comment></comment>
    </md-content>
  </md-dialog-content>
</md-dialog>