<md-dialog class="upload-dialog">
  <md-toolbar id="uploadControllerToastBounds">
    <div class="md-toolbar-tools">
      <h2>上传你的优质资料</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="close()" ng-disabled="uploadingCount > 0">
        <md-icon md-svg-src="md-close" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-content layout-padding>
      <div ng-show="!user.loggedIn">
        使用校内数据库账户登录后即可上传文件。
        <md-button class="md-raised md-primary" ng-click="showUserCenter()">登陆</md-button>
      </div>
      <div ng-show="user.loggedIn">
        <div layout layout-align="space-between center">
          <div>
            <md-input-container class="locator-input-container" ng-repeat="dir in path track by $index"
                                >
              <md-select aria-label="locator" ng-if="$index === 0" ng-model="dir">
                <md-option ng-value="dir">{{dir.name}}</md-option>
              </md-select>
              <md-select aria-label="locator" ng-if="$index > 0" ng-model="path[$index]" ng-change="cutTail($index)">
                <md-option ng-repeat="content in path[$index - 1].content" ng-if="content.isDir" ng-value="content">
                  {{content.name}}
                </md-option>
                <md-option ng-if="$index > 1" ng-click="createDir($index)" ng-value="0">
                  新建文件夹
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container class="locator-input-container" ng-show="!namingDirDepth" aria-label="locator">
              <md-select aria-label="locator" ng-model="nextDir" ng-change="pushNext()">
                <md-option ng-repeat="item in path[path.length - 1].content" ng-if="item.isDir" ng-value="item">
                  {{item.name}}
                </md-option>
                <md-option ng-if="path.length > 1" ng-click="createDir(path.length + 1)" ng-value="0">
                  新建文件夹
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container class="locator-input-container" ng-show="namingDirDepth" aria-label="locator">
              <label>
                新文件夹名
              </label>
              <input ng-keypress="namingDirKeyPress($event)" ng-model="newDirName">
            </md-input-container>
          </div>
          <div>
            <md-button class="md-fab md-primary" id="pickfiles">
              <md-icon class="material-icons">add</md-icon>
              <md-tooltip md-direction="bottom">添加文件</md-tooltip>
            </md-button>
          </div>
        </div>
        <md-list class="no-padding-top">
          <md-subheader class="md-no-sticky">
            文件列表
          </md-subheader>
          <md-divider></md-divider>
          <md-list-item ng-show="QUploader.files.length === 0 && uploadedFiles.length === 0">
            什么都没有
          </md-list-item>
          <md-list-item ng-repeat="file in uploadedFiles" layout="column" layout-align="center">
            <div layout layout-align="space-between center">
              <div>{{file.name}}</div>
              <div>完成</div>
            </div>
            <md-divider></md-divider>
          </md-list-item>
          <md-list-item ng-repeat="file in QUploader.files" layout="column" layout-align="center">
            <div layout>
              <div flex layout="column" layout-align="space-around">
                <div layout layout-align="start center">
                  <div>{{file.name}}</div>
                </div>
                <div layout layout-align="start center">
                  <md-progress-linear flex md-mode="determinate" value="{{file.percent}}"></md-progress-linear>
                  <div class="left-offset-10">{{file.percent}}%</div>
                </div>
              </div>
              <div layout layout-align="center center">
                <md-button class="md-fab md-mini no-margin-right background-white"
                           ng-class="uploadingCount>0?'md-warn':''"
                           ng-click="cancel(file)" aria-label="cancel upload">
                  <md-icon class="material-icons color-primary">close</md-icon>
                </md-button>
              </div>
            </div>
            <md-divider></md-divider>
          </md-list-item>
        </md-list>
        <div ng-show="QUploader.files.length>0" class="upload-footer" layout layout-align="space-between center">
          <div layout layout-align="start center">
            <md-checkbox class="no-margin" ng-model="anonymous">
              匿名
            </md-checkbox>
            <md-input-container flex-xs class="no-margin" ng-show="!anonymous">
              <label for="username">留个昵称</label>
              <input type="text" id="username" ng-model="username" placeholder="{{user.name}}">
            </md-input-container>
          </div>
          <md-button class="md-raised md-primary" ng-click="startUpload()">开始上传
          </md-button>
        </div>
      </div>
    </md-content>
  </md-dialog-content>
</md-dialog>