<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h4>{{file.name}}</h4>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon class="material-icons color-white">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content layout="column" flex>
    <md-content flex layout="column" layout-padding>
      <div layout layout-align="space-between center">
        <div>
          <md-button class="md-icon-button" ng-click="rateFile(1)">
            <md-icon class="material-icons">thumb_up</md-icon>
          </md-button>
          <md-button class="md-icon-button" ng-click="rateFile(-1)">
            <md-icon class="material-icons">thumb_down</md-icon>
          </md-button>
          <md-subheader ng-show="rated">提交成功！</md-subheader>
        </div>
        <md-button class="md-fab md-mini background-blue" ng-click="download(file)"
                   layout layout-align="center center">
          <md-tooltip md-direction="left">
            {{formatFileSize(file)}}
          </md-tooltip>
          <div>
            <md-icon ng-show="!file.gettingDownloadLink"
               class="material-icons adjust-icon-top-margin-up-3 color-white">cloud_download</md-icon>
          </div>
          <div layout layout-align="center center">
            <md-progress-circular ng-if="file.gettingDownloadLink" class="color-white" md-mode="indeterminate"
                                  md-diameter="20">
            </md-progress-circular>
          </div>
        </md-button>
      </div>
      <div layout="row" layout-align="start top">
        <md-input-container flex>
          <label for="comment">评论(可不填)</label>
          <textarea id="comment" ng-model="comment" md-maxlength="200"></textarea>
        </md-input-container>
        <div>
          <md-button class="md-primary md-raised" ng-click="sendComment()">提交</md-button>
        </div>
      </div>
      <div ng-show="!gettingRateAndComment">
        <div layout layout-align="start center">
          <h4>该文件的总评：</h4>
          <h1>{{avg_score}}</h1>
        </div>
        <md-subheader class="md-no-sticky">用户评论</md-subheader>
        <md-list-item class="md-3-line md-long-text" ng-repeat="cmt in comments">
          <div class="md-list-item-text" layout>
            <div flex layout layout-align="start center">
              <p>{{ cmt }}</p>
            </div>
          </div>
        </md-list-item>
      </div>
      <div ng-show="rates.length === 0">
        <h3>暂无评论</h3>
      </div>
      <div layout layout-align="start center" ng-show="gettingRateAndComment">
        <md-progress-circular md-diameter="20" md-mode="indeterminate"></md-progress-circular>
        <p class="left-offset"> 正在加载评论... </p>
      </div>
    </md-content>
  </md-dialog-content>
</md-dialog>