<md-dialog class="about-dialog hide-overflow">
  <md-toolbar id="{{toastBound}}">
    <div class="md-toolbar-tools">
      <h4>贡献度排行</h4>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="close()">
        <i class="material-icons color-white">close</i>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-list class="no-padding-top ranking-supporter">
      <md-list-item class="centeredText light-background-color">
        <div flex="100" layout layout-align="space-between center">
          <div>排名</div>
          <div flex="25">用户</div>
          <div>上传</div>
          <div>评价</div>
          <div>总分</div>
        </div>
        <md-divider></md-divider>
      </md-list-item>
      <md-list-item ng-if="status=='GETTING'">
        <div flex="100" layout layout-align="center center">
          <md-progress-circular class="spinner-primary" md-mode="indeterminate" md-diameter="20">
          </md-progress-circular>
        </div>
      </md-list-item>
      <md-list-item ng-if="status=='FAIL'">
        <div flex="100" layout layout-align="center center">
          获取排名失败
        </div>
      </md-list-item>
      <md-list-item class="centeredText" ng-repeat="ranking in ranking" ng-click="">
        <div flex="100" layout layout-align="space-between center">
          <div>{{$index + 1}}</div>
          <div flex="25">{{ranking.name}}</div>
          <div>{{ranking.upload}}</div>
          <div>{{ranking.rc}}</div>
          <div>{{ranking.total}}</div>
        </div>
        <md-divider></md-divider>
      </md-list-item>
      <md-subheader class="md-no-sticky">
        <span>你的排名</span>
      </md-subheader>
      <md-list-item ng-if="status=='GETTING'">
        <div flex="100" layout layout-align="center center">
          <md-progress-circular class="spinner-primary" md-mode="indeterminate" md-diameter="20">
          </md-progress-circular>
        </div>
      </md-list-item>
      <div ng-if="user.loggedIn">
        <md-list-item ng-if="status=='FAIL'">
          <div flex="100" layout layout-align="center center">
            获取排名失败
          </div>
        </md-list-item>
        <md-list-item ng-if="status=='SUCCESS'" class="centeredText" ng-click="">
          <div flex="100" layout layout-align="space-between center">
            <div>{{userRanking.pos}}</div>
            <div flex="25">{{userRanking.name}}</div>
            <div>{{userRanking.upload}}</div>
            <div>{{userRanking.rc}}</div>
            <div>{{userRanking.total}}</div>
          </div>
        </md-list-item>
      </div>
      <md-list-item ng-show="!user.loggedIn" layout layout-padding="space-between center">
        <div>使用校内数据库账户登录后即可查看你的排名。</div>
        <div>
          <md-button class="md-raised md-primary" ng-click="showUserCenter()">登陆</md-button>
        </div>
      </md-list-item>
    </md-list>
    <div id="ruleBottomSheetBounds" layout layout-align="end">
      <md-button ng-click="showRule()">评分规则</md-button>
    </div>
  </md-dialog-content>
</md-dialog>