<md-dialog class="login-dialog" flex-gt-md="20">
  <md-dialog-content>
    <md-content layout="column" layout-padding id="{{toastBound}}">
      <div layout>
        <div ng-if="user.loggedIn" layout layout-align="start center">当前用户：{{user.name}} - {{user.cademy}}</div>
        <div flex></div>
        <md-button class="md-icon-button" ng-click="hide()">
          <md-icon class="material-icons">close</md-icon>
        </md-button>
      </div>
      <form name="loginForm" layout="column">
        <md-input-container>
          <md-icon class="material-icon">person_outline</md-icon>
          <input required type="text" id="stuId" name="stuId" ng-model="user.id" ng-disabled="user.loggedIn" placeholder="学号">
          <div ng-messages="loginForm.stuId.$error">
            <div ng-message="required">
              请输入学号
            </div>
          </div>
        </md-input-container>
        <md-input-container>
          <md-icon class="material-icon">lock</md-icon>
          <input required type="password" id="password" name="password" ng-model="user.password"
                 ng-disabled="user.loggedIn" ng-keypress="keyLogIn($event)" placeholder="公共数据库密码">
          <div ng-messages="loginForm.password.$error">
            <div ng-message="required">
              请输入密码
            </div>
          </div>
        </md-input-container>
      </form>
      <div layout>
        <md-button ng-if="!loggingIn && !user.loggedIn" flex class="md-raised"
                   ng-class="user.id&&user.password?'md-primary':''" ng-click="logIn()">
          登陆
        </md-button>
        <md-button ng-if="loggingIn && !user.loggedIn" flex class="md-raised" ng-click="logIn()" ng-disabled="true">
          请稍等
        </md-button>
        <md-button flex class="md-raised" ng-click="logOut()" ng-if="user.loggedIn">
          注销
        </md-button>
      </div>
      <div class="warn-msg">
        {{loginMsg}}
      </div>
    </md-content>
  </md-dialog-content>
</md-dialog>
